body{
background-color:#E6DEBC;
color:#6B6858;
border:10px ridge #01a124;
margin: 20px;
padding-top:40px;
padding-bottom:40px;
}

h1{
font-family: 'Graduate', cursive;
}

.name{
	font-family: 'Homemade Apple', cursive;
}
.message{
	font-family:sans-serif;
}